.TodoList{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 20px 350px

}

@media (max-width: 1200px) {
    .TodoList{
        background-color: transparent;
        margin: 20px 250px;
    }
}

@media (max-width: 950px) {
    .TodoList{
        background-color: transparent;
        margin: 20px 150px;
    }
}

@media (max-width: 780px) {
    .TodoList{
        background-color: transparent;
        margin: 20px 50px;
    }
}

@media (max-width: 530px) {
    .TodoList{
        background-color: transparent;
        margin: 20px 15px;
    }
}
